@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=AbrilFatface&display=swap');

:root {
  --background: #fff8ed;
  --foreground: #393636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393636;
    --foreground: #fff8ed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif, "Abril Fatface", cursive;
}

h1, h2, h3 {
  font-family: "Abril Fatface", cursive;
}