@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:ital,wght@0,400..900;1,400..900&display=swap");


:root {
  --background: #fff8ed;
  --foreground: #393636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393636;
    --foreground: #fff8ed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Heebo", sans-serif "Playfair", serif "Playfair Display", serif;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}